.container {
  padding: 20px;
  margin: 20px auto;
}

.row {
  padding: 10px;
}

.nav-link {
  margin: 5px;
  font-size: 14px;
}

.btn-primary {
  background-color: blue;
  color: white;
  border: none;
}

.profile-picture-small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
