.row {
  padding: 10px;
}

.nav-link {
  margin: 5px;
  font-size: 14px;
}

.btn-primary {
  background-color: blue;
  color: white;
  border: none;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
