{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="container">
    <h1>Update Your Cadet Profile</h1>
    <form method="post" enctype="multipart/form-data" class="update-profile-form">
        {% csrf_token %}
        {{ cadet_form.as_p }}
        <button type="submit" class="btn btn-primary">Make Changes</button>
    </form>
    <div class="profile-picture-container">
        {% if cadet.cadet_picture_thumbnail %}
            <img src="{{ cadet.cadet_picture_thumbnail.url }}" alt="{{ cadet.user.username }}'s Cadet"
                 class="profile-picture">
        {% else %}
            <img src="{% static 'stellar/images/Avatar.png' %}" alt="Default Cadet" class="profile-picture">
        {% endif %}
    </div>
</div>
{% endblock %}
