{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="container">
    <h1 class="text-center">Update Your Cadet Profile</h1>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_stellarname" class="form-label">Stellar Name</label>
            <input type="text" name="stellarname" class="form-control" id="id_stellarname" value="{{ cadet.stellarname }}">
        </div>
        <div class="mb-3">
            <input type="email" name="email" class="form-control" id="id_email" placeholder="Email" value="{{ cadet.user.email }}">
        </div>
        <div class="mb-3">
            <input type="text" name="first_name" class="form-control" id="id_first_name" placeholder="First Name" value="{{ cadet.user.first_name }}">
        </div>
        <div class="mb-3">
            <input type="text" name="last_name" class="form-control" id="id_last_name" placeholder="Last Name" value="{{ cadet.user.last_name }}">
        </div>
        <div class="mb-3">
            <input type="file" name="cadet_picture" class="form-control" id="id_cadet_picture">
        </div>
        <button type="submit" class="btn btn-primary">Make Changes</button>
    </form>
</div>
{% endblock %}
