container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"

files:
  "/etc/httpd/conf.d/static.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      Alias /static /var/app/venv/*/static
      <Directory /var/app/venv/*/static>
          Require all granted
      </Directory>
      Alias /media /var/app/venv/*/media
      <Directory /var/app/venv/*/media>
          Require all granted
      </Directory>
